<div class="wrapper">
  <div class="section-registro">
    <div class="header-registro">
      <app-navbar [tipo]="tipo"></app-navbar>
    </div>
    <!-- Aquí van a ir los radio buttons para elegir el rol de usuario a registrar -->
    <section class="rol-user">
      <div class="container">
        <!-- Radio buttons -->
        <div class="row mt-5" style="text-align: center;">
          <div class="form-group col-12">
            <label class="title-user" for="tipo_usuario">Tipo de usuario</label>
          </div>
        </div>
        <div class="row mt-3" style="text-align: center;">
          <div class="form-group col-12">
            <mat-radio-group [(ngModel)]="user.tipo_usuario" (change)="radioChange($event)" [disabled]="editar">
              <mat-radio-button value="bibliotecario">Bibliotecario</mat-radio-button>
              <mat-radio-button value="cliente">Cliente</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <!-- Formularios de todos los usuarios -->
        <section class="forms-registro">
          <!-- Formulario del admin -->
          <section class="registro-biblio" *ngIf="isBiblio">
            <app-registro-biblio [rol]="tipo_user" [datos_user]="user"></app-registro-biblio>
          </section>
          <!-- Formulario del alumno -->
          <section class="registro-cliente" *ngIf="isCliente">
            <app-registro-cliente [rol]="tipo_user" [datos_user]="user"></app-registro-cliente>
          </section>
        </section>
      </div>
    </section>
          </div>
      </div>
